.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 350px;
  margin: 0 auto;
  border-radius: 5px;
}

.container .image-qr-code img {
  width: 300px;
  margin-top: 25px;
  border-radius: 5px;
}

body {
  background-color: #d5e1ef;
}
.text-paragraph,
.text-title {
  text-align: center;
}

.text-title {
  font-weight: 900;
  font-size: x-large;
}
